@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: "Ranchers", sans-serif;
    letter-spacing: 5px;
}

p {
    font-family: "Monda", sans-serif;
}

body {
    margin: 0;
    padding: 20px;
    background: url("../img/snake-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blank-space {
    height: 400px;
}

.back-to-home {
    height: 50px;
    width: 200px;
    background-color: beige;
    border: 2px solid black;
    border-radius: 5%;
    font-family: "Ranchers", sans-serif;
    text-align: center;
    margin: 10px 0px 10px 0px;
    background-color: #41cb2c;
    box-shadow: 2px 2px black;
    text-decoration: none;

}

.back-to-home p {
    margin-top: 10px;
    padding: 0;
    text-shadow: 1px 1px black;
    color: black;
}


.hover {
    transform: scale(1.1);
}

.start-game-memory {
    height: 400px;
    max-width: 400px;
    background-color: chocolate;
    font-family: "Bungee", sans-serif;
    text-align: center;
    padding-top: 180px;

}

/*--------- Mute button ---------*/ 

.mute-button {
    color: #fafafa;
    font-size: 4em;
    float: right;
    top: 100px;
    right: 100px;

}
/* --------- Memory Game ------------- */

/* --------- heading -------------------*/
.page-title {
    color: #28b213;
    font-size: 6em;
    text-align: center;
    text-shadow: 2px 2px black;
}
.game-info {
    font-size: 4em;
    color: #28b213;
    text-shadow: 2px 2px black;
}

/* --------- Cards -------------------*/
.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}
.card {
    position: relative;
    height: 175px;
    width: 125px;
}
div.card {
    background-color: transparent;
    border: none;
}
.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}
.card:hover {
    cursor: pointer;
}
.card-face {
    position: absolute;
    width: 125px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border: 1px solid orange;
    transition: transform 500ms ease-in-out;
}
@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 10em;
    }
}
.visible .card-back {
    transform: rotateY(-180deg);
    width: 125px;
    height: 175px;
}
.visible .card-front {
    transform: rotateY(0);
    width: 125px;
    height: 175px;
}
.card-back {
    background-color: black;
    border-color: orange;   
}
.card-front {
    transform: rotateY(180deg);
    overflow: hidden; 
}
.card-front img {
    overflow: hidden;  
}
/* ---------------- Overlays ---------------*/
.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #41cb2c;
    font-family: "Ranchers", sans-serif;
    cursor: pointer;
    text-shadow: 2px 2px black;
}
.overlay-text-small {
    text-align: center;
    font-size: .2em;
    font-family: "Monda", sans-serif;
    color: #34a223;   
}
.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}
.overlay-text-small i {
    color: yellow;
    font-size: 3em;
}
/*-------  media query -------*/
@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }
    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}

