@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url("../img/arcade.jpg");
}

.row {
    margin-top: 50px;
}

/* -------------------- Banner --------- */
.banner {
    text-align: center;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
}

body .banner h1 {
    font-size: 80px;
    color: beige;
    font-family: "Bungee Shade", sans-serif ;
}

body .banner p {
    margin-top: 40px;
    font-size: 40px;
    color: bisque;
    font-family: "Indie Flower", sans-serif ;
}

/* -------------------- Game icons --------- */

.game-icon {
    
    text-align: center;
    color: black;
    max-width: 300px;
    height: 300px;
    margin: 10px;
    font-family: "Bungee", sans-serif ;
    font-weight: 700;
}

.hover {
    transform: scale(1.1);
}


/* ----------- Game Icon Backgrounds ------- */ 

.memory {
    background: url("/assets/img/memory.jpg");
    background-size: 300px 300px;
}

.snake {
    background: url("/assets/img/snake.png");
    background-size: 300px 300px;
    color: white;
}

.drum-kit {
    background: url("/assets/img/drum-kit.jpg");
    background-size: 300px 300px;
    color: white;
}

.flappy-bird {
    background: url("/assets/img/flappy-bird.jpg");
    background-size: 300px 300px;
    
}

.simon-says {
    background: url("/assets/img/simon-says.png");
    background-size: 300px 300px;
    color: white;
}

.clock {
    background: url("/assets/img/clock.jpg");
    background-size: 300px 300px;
    color: white;
}